<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bolt</title>
    <base href="http://localhost.com:5000">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body>

    <nav class="navbar flex-column">
        <a class="navbar-brand"><i class="fas fa-bolt"></i></a>
        <ul class="nav">

            {% if not g.user %}

            <li class="nav-item">
                <a class="nav-link active" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
            {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="/workspaces">Workspaces</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            {% endif %}

        </ul>

    </nav>
    <div class="main-content">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>

</body>

</html>