<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bolt</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body>

    <nav class="navbar navbar-light bg-primary justify-content-between">
        <a class="navbar-brand"><i class="fas fa-bolt"></i>bolt</a>
        <ul class="nav navbar-nav navbar-right">

            {% if not g.user %}
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
            {% else %}
            <li><a href="/logout">Log out</a></li>
            {% endif %}
        </ul>

    </nav>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

</body>

</html>