@import '../_config.scss';

.NavBar {
  display: flex;
  flex-direction: inline-block;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 40px;
  color: $lightPurple;
}

.NavBar-logo a.active,
.NavBar-logo a:hover {
  text-decoration: none;
  color: $yellow;
}

.NavBar-logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  color: $white;
}

.NavBar-login {
  margin-right: 50px;
}

.NavBar-login a:visited,
.NavBar-signUp a:visited {
  color: $lightPurple;
}

.NavBar-login a.active {
  color: $white;
}

.NavBar-signUp a.active {
  color: $white;
}

.NavBar-login a:hover,
.NavBar-signUp a:hover {
  text-decoration: none;
  color: $white;
}
