.Workspace {
  display: inline-block;
  flex-direction: column;
  position: absolute;
  left: 200px;
  top: 40px;
  width: calc(100% - 200px);
  /* height: calc(100% - 40px); */
  height: 100vh;
  color: rgb(191, 136, 216);

  padding: 20px;
}

.TaskColumnRow {
  display: flex;
  flex-direction: row;
}
