{% extends 'base.html' %}
{% block content %}

<div class="page">
    <h1>
        {% if g.user %}
        My Workspaces
        {% else %}
        Bolt - Modern Planning

        {% endif %}

    </h1>
    <div>
        {% if g.user %}
        
        {% for workspace_user in workspace_users %}

  {{workspace_user.workspace_formatted_name}}

        {% endfor %}

        
        {% else %}

        <p> Bolt is a modern tool for software planning</p>
        <div>
            <ul>
                <li>Plan visually</li>
                <li>Easy task management</li>
                <li>Assignment suggestions as you type</li>

                <li>Beautiful analytics</li>
            </ul>
        </div>



        {% endif %}


    </div>

</div>

{% endblock %}